:root {
  --main-color: #2470a0;
  --secondary-color: #a696c8;
  --accent-color: #060608;
  --background-color: #fad3cf;
  --heading-font-family: "Josefin Slab", serif;
  --default-font-family: "Encode Sans Semi Condensed", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 500;
}
p {
  font-family: var(--default-font-family);
}
