:root {
  --main-color: #2470a0;
  --secondary-color: #a696c8;
  --accent-color: #060608;
  --background-color: rgba(250, 211, 207, 0.3);
  --heading-font-family: "Josefin Slab", serif;
  --default-font-family: "Encode Sans Semi Condensed", sans-serif;
}
body {
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: medium;
}
p,
li {
  font-family: var(--default-font-family);
}
.hero {
  text-align: center;
  line-height: 2;
  padding: 160px 20px;
  border-bottom: medium solid var(--secondary-color);
}
.hero h1 {
  color: var(--main-color);
  font-size: 85px;
}
.hero p {
  color: var(--accent-color);
  font-size: 25px;
}
.default-buttons {
  color: var(--accent-color);
  font-family: var(--default-font-family);
  font-size: 15px;
  border: solid var(--secondary-color);
  border-radius: 4px;
}
.default-buttons:hover {
  border: solid var(--main-color);
  border-radius: 4px;
  cursor: pointer;
}
.homepage-card {
  border: solid var(--main-color);
  border-radius: 4px;
}
.homepage-card img {
  height: 358px;
}
.card-title {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 500;
}
.default-buttons:hover {
  border: solid var(--main-color);
  border-radius: 4px;
  cursor: pointer;
}
.default-heading {
  text-align: center;
  color: var(--main-color);
  font-size: 85px;
  margin: 80px;
}
.white-border {
  border: 6px solid white;
  border-radius: 4px;
}
.about-main-section {
  margin: 20px;
}
.about-main-section h2 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 40px;
  margin-bottom: 30px;
}
.about-main-section p {
  text-indent: 4%;
  line-height: 2;
  font-size: 18px;
}
.projects-main-section {
  margin: 20px;
}
.projects-page-img {
  height: 580px;
  width: 600px;
}
.project-descriptions h2 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 40px;
  margin-bottom: 30px;
}
.project-descriptions h3 {
  text-align: center;
  color: var(--main-color);
  font-size: 25px;
  margin-bottom: 15px;
}
.project-descriptions p {
  text-indent: 4%;
  line-height: 2;
  font-size: 20px;
}
.project-descriptions a {
  display: block;
  margin: auto;
  max-width: fit-content;
}
.project-sections {
  margin-bottom: 40px;
}
.main-contact-section {
  margin: 20px;
}
.main-contact-section img {
  display: block;
  margin: auto 0;
}
.contact-content {
  text-align: center;
  margin-top: 150px;
}
.contact-content i {
  font-size: 50px;
}
.linkedin-content i,
.contact-content i {
  color: var(--accent-color);
}
.linkedin-content {
  margin: 10px 10px 100px 10px;
}
.linkedin-content a {
  text-decoration: none;
  font-family: var(--heading-font-family);
  color: var(--secondary-color);
  font-size: 25px;
  line-height: 2;
}
.email-content a {
  text-decoration: none;
  font-family: var(--heading-font-family);
  color: var(--secondary-color);
  font-size: 25px;
  line-height: 2;
}
nav a {
  text-decoration: none;
}
nav h4 {
  color: var(--main-color);
  font-size: 25px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
  font-size: 18px;
}
nav li a {
  text-decoration: none;
  color: var(--accent-color);
}
nav li a:hover,
nav li a.active {
  color: var(--secondary-color);
}
footer a {
  font-size: 18px;
  text-decoration: none;
  color: var(--accent-color);
  font-family: var(--default-font-family);
}
footer a:hover {
  color: var(--secondary-color);
}
.tag-line,
.tag-line a {
  text-align: center;
  font-size: 15px;
  font-family: var(--default-font-family);
}
@media (max-width: 576px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero p {
    font-size: 18px;
  }
  .homepage-card {
    max-width: 200px;
  }
  .homepage-card img {
    height: 150px;
  }
  .card-title {
    font-size: 20px;
  }
  .homepage-buttons {
    font-size: 12px;
  }
  .default-heading {
    margin: 60px;
    font-size: 40px;
  }
  .about-main-section h2 {
    margin-top: 30px;
    font-size: 22px;
  }
  .about-main-section p {
    font-size: 15px;
  }
  .projects-page-img {
    height: 280px;
    width: 300px;
    display: block;
    margin: auto;
  }
  .project-descriptions h2 {
    margin-top: 30px;
    font-size: 25px;
  }
  .project-descriptions p {
    font-size: 18px;
  }
  .linkedin-content a {
    font-size: 20px;
  }
  .email-content a {
    font-size: 20px;
  }
  .contact-content i {
    font-size: 40px;
  }
  nav li {
    font-size: 15px;
  }
  .tag-line,
  .tag-line a {
    font-size: 10px;
  }
}
