:root {
  --main-color: #2470a0;
  --secondary-color: #a696c8;
  --accent-color: #060608;
  --background-color: rgba(250, 211, 207, 0.3);
  --heading-font-family: "Josefin Slab", serif;
  --default-font-family: "Encode Sans Semi Condensed", sans-serif;
}
body {
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: medium;
}
p {
  font-family: var(--default-font-family);
}
.hero {
  text-align: center;
  line-height: 2;
  padding: 100px 20px;
  border-bottom: medium solid var(--secondary-color);
}
.hero h1 {
  color: var(--main-color);
  font-size: 85px;
}
.hero p {
  color: var(--accent-color);
  font-size: 25px;
}
.homepage-buttons {
  color: var(--accent-color);
  font-family: var(--default-font-family);
  font-size: 15px;
  border: solid var(--secondary-color);
  border-radius: 4px;
}
.card-title {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 500;
}
