:root {
  --main-color: #2470a0;
  --secondary-color: #a696c8;
  --accent-color: #060608;
  --background-color: rgba(250, 211, 207, 0.3);
  --heading-font-family: "Josefin Slab", serif;
  --default-font-family: "Encode Sans Semi Condensed", sans-serif;
}
body {
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: medium;
}
p {
  font-family: var(--default-font-family);
}
.hero {
  text-align: center;
  line-height: 2;
  padding: 160px 20px;
  border-bottom: medium solid var(--secondary-color);
}
.hero h1 {
  color: var(--main-color);
  font-size: 85px;
}
.hero p {
  color: var(--accent-color);
  font-size: 25px;
}
.homepage-buttons {
  color: var(--accent-color);
  font-family: var(--default-font-family);
  font-size: 15px;
  border: solid var(--secondary-color);
  border-radius: 4px;
}
.homepage-card {
  border: solid var(--main-color);
  border-radius: 4px;
}
.homepage-card img {
  height: 358px;
}
.card-title {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 500;
}
.homepage-buttons:hover {
  border: solid var(--main-color);
  border-radius: 4px;
  cursor: pointer;
}
.default-heading {
  text-align: center;
  color: var(--main-color);
  font-size: 85px;
  margin: 80px;
}
.about-main-section {
  margin: 20px;
}
.about-main-section h2 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 40px;
  margin-bottom: 30px;
}
.about-main-section p {
  text-indent: 4%;
  line-height: 2;
  font-size: 18px;
}
.projects-main-section {
  margin: 20px;
}
.projects-page-img {
  height: 580px;
  width: 600px;
}
.project-descriptions h2 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 40px;
  margin-bottom: 30px;
}
.project-descriptions p {
  text-indent: 4%;
  line-height: 2;
  font-size: 18px;
}
.project-sections {
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .hero h1 {
    font-size: 40px;
  }
  .hero p {
    font-size: 18px;
  }
  .homepage-card {
    max-width: 200px;
  }
  .homepage-card img {
    height: 150px;
  }
  .card-title {
    font-size: 20px;
  }
  .homepage-buttons {
    font-size: 12px;
  }
  .about-me-heading {
    margin: 60px;
    font-size: 40px;
  }
  .about-main-section h2 {
    margin-top: 30px;
    font-size: 22px;
  }
  .about-main-section p {
    font-size: 15px;
  }
